<div>
    <a class="sbTopLevel" data-toggle="collapse" href="#adminSubMenu"
       aria-expanded="false" aria-controls="adminSubMenu">
        <span class="glyphicon glyphicon-star-empty"></span>&nbsp;Admin Options
    </a>
</div>
<div class="collapse subMenu" id="adminSubMenu">
    <a href="" class="subMenuLink" id="createWikiLink">
        <span class="glyphicon glyphicon-plus"></span>
        Create New Wiki
    </a>
    <a href="" class="subMenuLink" id="manageUsersLink">
        <span class="glyphicon glyphicon-user"></span>
        Manage Users
    </a>
</div>
