<div>
    <a class="sbTopLevel" data-toggle="collapse" href="#userSubMenu" aria-expanded="false"
       aria-controls="userSubMenu">
        <span class="glyphicon glyphicon-user"></span>&nbsp;Not Logged In
    </a>
</div>
<div class="collapse subMenu" id="userSubMenu">
    <a href="/login" class="subMenuLink" id="myActivityLink">
        <span class="glyphicon glyphicon-log-in"></span>
        Log In
    </a>
    <a href="/register" class="subMenuLink" id="registerLink">
        <span class="glyphicon glyphicon-ok-circle"></span>
        Register
    </a>
</div>
