<div>
    <a class="sbTopLevel" data-toggle="collapse" href="#userSubMenu" aria-expanded="false"
       aria-controls="userSubMenu" id="userMenuLink">
        <!--<span class="glyphicon glyphicon-user"></span>&nbsp;-->
        <div id="currentUserThumb"></div>&nbsp;
        <div id="userNameText"></div>
    </a>
</div>
<div class="collapse subMenu" id="userSubMenu">
    <a href="" class="subMenuLink" id="accountSettingsLink">
        <span class="glyphicon glyphicon-cog"></span>
        Account Settings
    </a>
    <a href="" class="subMenuLink" id="logoutLink">
        <span class="glyphicon glyphicon-log-out"></span>
        Log Out
    </a>
</div>
