<tr>
    <td id="username"></td>
    <td id="last_name"></td>
    <td id="first_name"></td>
    <td id="write_access"></td>
    <td id="admin_access"></td>
    <td id="member_actions">
        <div class="table-buttons-container">
            <button class="btn btn-sm btn-default table-action-button"
                    id="toggleWriteButton"
                    data-toggle="tooltip" data-placement="top"
                    title="Grant/Revoke Write access">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button class="btn btn-sm btn-default table-action-button"
                    id="toggleAdminButton"
                    data-toggle="tooltip" data-placement="top"
                    title="Grant/Revoke Admin access">
                <span class="glyphicon glyphicon-star"></span>
            </button>
            <button class="btn btn-sm btn-danger table-action-button"
                    id="removeMemberButton"
                    data-toggle="tooltip" data-placement="top"
                    title="Remove Member">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </div>
    </td>
</tr>