<div class="modal fade" id="selectUserModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>Select Users</h4>
            </div>
            <div class="modal-body">
                <div id="alertBox"></div>
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Last Name</th>
                            <th>First Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="userListContainer"></tbody>
                </table>
                <nav class="pagination-nav">
                    <ul class="pagination">
                        <li id="previousLink">
                            <a href="#" id="pagePrevious" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li id="nextLink">
                            <a href="#" id="pageNext" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelButton" class="btn btn-default"
                        data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>