<div class="modal fade" id="userInfoModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="userInfoTitle"></h3>
            </div>
            <div class="modal-body">
                <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5">
                    <div id="pictureWrapper" class="avatar-wrapper well"></div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7">
                    <h4 class="profile-item"><span id="userFullName"></span></h4>
                    <p class="profile-item">
                        <span class="glyphicon glyphicon-envelope"></span>&nbsp;
                        <a id="email"></a>
                    </p>
                    <p class="profile-item">
                        <span class="glyphicon glyphicon-briefcase"></span>&nbsp;
                        <span id="userTitle"></span>
                    </p>
                </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeButton" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>