@import 'colors.scss';
@import 'wiki.scss';
@import 'page.scss';
@import 'user.scss';
@import 'files.scss';
@import 'pagedown.scss';

* {
}

body{
  background-color: $almostWhite;
  height: 100%;
}

.sidebar {
  .tooltip{
    z-index:9999;
  }
//  display: none;
  a.sbTopLevel {
    display:block;
    width: 100%;
    font-weight: bold;
    color:#eee;
    padding:10px;
    text-decoration: none;
    &:hover {
      background: #222;
    }
  }
  .subMenu{
    font-size:8pt;
  }
  .subMenuLink{
    text-decoration:none;
    display:block;
    width: 100%;
    padding: 5px 5px 5px 15px;
    color:#ddd;
    &:hover {
      background: #222;
    }
  }
  .currentSelection{
    background: #222;
  }
  #userMenuLink{
    display: block;
    span#currentUserThumb{
      display:inline;
    }
    span#userNameText{
      display:inline;
    }
  }
}

//Override Bootstrap
.form-control {
  border-radius: 0;
}

.pagination-nav{
  text-align: center;
}

button.btn{
  border-radius: 0;
}

.btn-dark{
  &:enabled{
    background-color: $baseGrey;
    color: $almostWhite;
    border: 1px solid $almostWhite;
  }
  &:hover{
    color: white;
    border: 1px solid white;
  }
}

button.primary-color-btn{
  color: $lightShade;
  background-color: white;
  border: 1px solid $lightShade;
  &:hover{
    color: white;
    background-color: $lightShade;
  }
}

//div.alert{
//  display: none;
//}

//Default avatar images
img.avatar{
//  width:200px;
//  height:200px;
//  .placeholder {
//    background-image: url('/app/resource/img/default_avatar.jpg');
//  }
}

div.modal{
  div.modal-dialog{
    div.modal-content{
      border-radius: 0;
      div.modal-footer{
        .btn{
          border: 1px solid $lightGrey;
          &:hover {
            background-color: $lightGrey;
            color: white;
          }
        }
        .btn-primary{
          border: 1px solid $lightShade;
          color: $lightShade;
          background-color: white;
          &:hover {
            color: white;
            background-color: $lightShade;
          }
        }
        .btn-danger{
          border: 1px solid lightcoral;
          color: lightcoral;
          background-color: white;
          &:hover {
            color: white;
            background-color: lightcoral;
          }
          &#deleteButton{
            float:left;
          }
        }
      }
    }
  }
}

pre {
  border-radius: 0;
}

.well {
  border-radius: 0;
}

.error-page-view, .default-view{
  background-color: white;
  margin: 10px 10px 10px 10px;
  padding: 10px 20px 20px 20px;
  min-height: 8in;
}

  .sidebar {
    position: fixed;
    left: 250px;
    width: 0;
    margin-left: -250px;
    height: 100%;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #333;
    border-right: 1px solid #999;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: $lighterGrey;
    div#logo-view{
      text-align: center;
    }
    nav#sidebar-view{
      position: absolute;
      width: 250px;
      padding:5px;
      top: 0;
      margin: 0;
    }
  }

div#container{
  div#menuToggle{
    background-color: $baseGrey;
    padding: 5px 10px 5px 10px;
  }
  div#content{
    width: 100%;
    position: relative;
  }
}

.addon-clickable{
  background-color: white;
  color: $lightShade;
  &:hover{
    cursor: pointer;
    background-color: $lightShade;
    color: white;
  }
  &:active{
    background-color: $darkShade;
  }
}

div#container.toggled{
    padding-left: 260px;
    .sidebar{
      width: 250px;
    }
    div#content{
      position: absolute;
      margin-right: -250px;
    }
  }


@media (min-width: 768px) {
  div#menuToggle{
    display:none;
  }
  div#container{
    padding-left: 250px;
  }
  .sidebar {
    width: 250px;
  }
  div#content{
    position: relative;
    padding-left: 20px;
    padding-right: 10px;
  }
}
