@import url(../scripts/vendor/markette/css/markette.css);
/* Color Scheme */
/* Wiki Styles */
/* Color Scheme */
#wiki-toolbar {
  background-color: #333333;
  margin-bottom: 5px;
  padding: 10px;
}
#wiki-toolbar div {
  margin-right: 10px;
  display: inline;
}
#wiki-toolbar a {
  color: #efefef;
}
#wiki-toolbar a:hover, #wiki-toolbar a:focus, #wiki-toolbar a:active {
  color: white;
  text-decoration: none;
}
#wiki-toolbar ul.dropdown-menu {
  border-radius: 0;
}
#wiki-toolbar ul.dropdown-menu li a {
  color: #222222;
}
#wiki-toolbar #adminMenu a#deleteWikiLink {
  color: lightcoral;
}

div.breadcrumbs {
  height: 36px;
  margin-left: 10px;
  margin-right: 10px;
}
div.breadcrumbs ol.breadcrumb {
  padding-bottom: 0;
  padding-left: 20px;
  background-color: white;
  border-radius: 0;
  margin: 0;
}

/* Page Styles */
/* Color Scheme */
button.page-control-button {
  margin: 1px;
  border-radius: 0;
  border: none;
  float: right;
}

div.tool-menu {
  float: right;
}
div.tool-menu a {
  color: #333333;
}
div.tool-menu a:hover, div.tool-menu a:focus, div.tool-menu a:active {
  color: #888888;
  text-decoration: none;
}
div.tool-menu ul.dropdown-menu {
  border-radius: 0;
}
div.tool-menu ul.dropdown-menu li a {
  color: #333333;
}
div.tool-menu ul.dropdown-menu a#deletePageLink {
  color: lightcoral;
}

.page-container {
  background-color: white;
}
.page-container .page-view {
  margin: 0 10px 10px 10px;
  padding: 0 20px 20px 20px;
  min-height: 8in;
}
.page-container .page-view #revisionNotice {
  display: none;
}
.page-container .page-view table:not(.table) {
  width: 100%;
  border: 1px solid #888;
}
.page-container .page-view table:not(.table) thead {
  background-color: #dedede;
}
.page-container .page-view table:not(.table) thead th {
  border: 1px solid #888;
  padding: 2px;
}
.page-container .page-view table:not(.table) tbody td {
  padding: 2px;
  border: 1px solid #888;
}
.page-container .page-view #pageToolDropDown {
  left: -1em;
}

.raw-view-box {
  margin-top: 20px;
}
.raw-view-box pre {
  width: 100%;
}
.raw-view-box textarea {
  width: 100%;
  height: 100%;
  min-height: 400px;
  resize: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.page-editor-info {
  font-style: italic;
}

.page-create-button {
  color: #1abc9c;
}
.page-create-button:hover {
  color: white;
  background-color: #1abc9c;
}

.page-edit-button {
  color: #1abc9c;
}
.page-edit-button:hover {
  color: white;
  background-color: #1abc9c;
}

.page-content-mode-link {
  border: none;
  margin-right: 10px;
  float: right;
  color: #333333;
}
.page-content-mode-link:hover {
  color: #888888;
  text-decoration: none;
}

.page-delete-button {
  color: lightcoral;
  border: none;
}
.page-delete-button:hover {
  color: white;
  background-color: lightcoral;
}

form#editPageForm {
  margin: 10px;
  padding: 10px;
}

.page-publish-button {
  margin: 2px;
  border-radius: 0;
  color: #1abc9c;
  border: none;
}
.page-publish-button:hover, .page-publish-button:active, .page-publish-button:focus {
  color: white;
  background-color: #1abc9c;
}

.page-cancel-button {
  margin: 2px;
  border-radius: 0;
  border: none;
}

div.imgPreviewContainer {
  display: none;
}

div.imgPreviewBox {
  width: 150px;
}

.comment-view #authorAvatarThumb {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  float: left;
}
.comment-view .comment-author-info {
  display: inline-block;
}
.comment-view span#commentDatetime {
  font-style: italic;
}
.comment-view span#commentAuthorName {
  font-weight: bold;
}

/* User Styles */
/* Color Scheme */
.manage-users-view, .account-settings-view {
  background-color: white;
  margin: 10px 10px 10px 10px;
  padding: 10px 20px 20px 20px;
  min-height: 8in;
}

.profile-item {
  font-size: 125%;
  line-height: 100%;
}

.account-settings-view #profileArea button#editProfileButton {
  border: none;
  float: right;
}
.account-settings-view #profileArea h2#nameField {
  margin-top: 0;
}
.account-settings-view #pictureWrapper {
  max-width: 200px;
  max-height: 200px;
  padding: 10px;
}

div#userInfoModal .avatar-wrapper {
  width: 220px;
  height: 220px;
  padding: 10px;
}

div.table-controls {
  display: inline;
}
div.table-controls form.search-form {
  float: left;
  display: inline;
}
div.table-controls button.control-button {
  float: right;
  display: inline;
  border: none;
  border-radius: 0;
  color: #1abc9c;
  background-color: white;
}
div.table-controls button.control-button span.plus-prepend {
  font-size: 14pt;
}
div.table-controls button.control-button:hover {
  color: white;
  background-color: #1abc9c;
}

tr#manage-users-item > td:last-child {
  width: 150px;
}

/* Color Scheme */
.input-file {
  position: relative;
}
.input-file .input-group-addon {
  border: 0px;
  padding: 0px;
}
.input-file .input-group-addon .btn {
  border-radius: 0;
}
.input-file .input-group-addon input {
  position: absolute;
  width: 72px;
  z-index: 2;
  height: 100%;
  top: 0;
  right: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  background-color: transparent;
  color: transparent;
}

body {
  background-color: #efefef;
  height: 100%;
}

.sidebar .tooltip {
  z-index: 9999;
}
.sidebar a.sbTopLevel {
  display: block;
  width: 100%;
  font-weight: bold;
  color: #eee;
  padding: 10px;
  text-decoration: none;
}
.sidebar a.sbTopLevel:hover {
  background: #222;
}
.sidebar .subMenu {
  font-size: 8pt;
}
.sidebar .subMenuLink {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 5px 5px 5px 15px;
  color: #ddd;
}
.sidebar .subMenuLink:hover {
  background: #222;
}
.sidebar .currentSelection {
  background: #222;
}
.sidebar #userMenuLink {
  display: block;
}
.sidebar #userMenuLink span#currentUserThumb {
  display: inline;
}
.sidebar #userMenuLink span#userNameText {
  display: inline;
}

.form-control {
  border-radius: 0;
}

.pagination-nav {
  text-align: center;
}

button.btn {
  border-radius: 0;
}

.btn-dark:enabled {
  background-color: #333333;
  color: #efefef;
  border: 1px solid #efefef;
}
.btn-dark:hover {
  color: white;
  border: 1px solid white;
}

button.primary-color-btn {
  color: #1abc9c;
  background-color: white;
  border: 1px solid #1abc9c;
}
button.primary-color-btn:hover {
  color: white;
  background-color: #1abc9c;
}

div.modal div.modal-dialog div.modal-content {
  border-radius: 0;
}
div.modal div.modal-dialog div.modal-content div.modal-footer .btn {
  border: 1px solid #888888;
}
div.modal div.modal-dialog div.modal-content div.modal-footer .btn:hover {
  background-color: #888888;
  color: white;
}
div.modal div.modal-dialog div.modal-content div.modal-footer .btn-primary {
  border: 1px solid #1abc9c;
  color: #1abc9c;
  background-color: white;
}
div.modal div.modal-dialog div.modal-content div.modal-footer .btn-primary:hover {
  color: white;
  background-color: #1abc9c;
}
div.modal div.modal-dialog div.modal-content div.modal-footer .btn-danger {
  border: 1px solid lightcoral;
  color: lightcoral;
  background-color: white;
}
div.modal div.modal-dialog div.modal-content div.modal-footer .btn-danger:hover {
  color: white;
  background-color: lightcoral;
}
div.modal div.modal-dialog div.modal-content div.modal-footer .btn-danger#deleteButton {
  float: left;
}

pre {
  border-radius: 0;
}

.well {
  border-radius: 0;
}

.error-page-view, .default-view {
  background-color: white;
  margin: 10px 10px 10px 10px;
  padding: 10px 20px 20px 20px;
  min-height: 8in;
}

.sidebar {
  position: fixed;
  left: 250px;
  width: 0;
  margin-left: -250px;
  height: 100%;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #333;
  border-right: 1px solid #999;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #dedede;
}
.sidebar div#logo-view {
  text-align: center;
}
.sidebar nav#sidebar-view {
  position: absolute;
  width: 250px;
  padding: 5px;
  top: 0;
  margin: 0;
}

div#container div#menuToggle {
  background-color: #333333;
  padding: 5px 10px 5px 10px;
}
div#container div#content {
  width: 100%;
  position: relative;
}

.addon-clickable {
  background-color: white;
  color: #1abc9c;
}
.addon-clickable:hover {
  cursor: pointer;
  background-color: #1abc9c;
  color: white;
}
.addon-clickable:active {
  background-color: #16a085;
}

div#container.toggled {
  padding-left: 260px;
}
div#container.toggled .sidebar {
  width: 250px;
}
div#container.toggled div#content {
  position: absolute;
  margin-right: -250px;
}

@media (min-width: 768px) {
  div#menuToggle {
    display: none;
  }

  div#container {
    padding-left: 250px;
  }

  .sidebar {
    width: 250px;
  }

  div#content {
    position: relative;
    padding-left: 20px;
    padding-right: 10px;
  }
}
