/* User Styles */

@import 'colors.scss';

.manage-users-view{
  background-color: white;
  margin: 10px 10px 10px 10px;
  padding: 10px 20px 20px 20px;
  min-height: 8in;
}

div.table-controls {
  float: right;
  button.control-button {
    border: none;
    border-radius: 0;
    color: $lightShade;
    background-color: white;
    span.plus-prepend{
      font-size:14pt;
    }
    &:hover {
      color: white;
      background-color: $lightShade;
    }
  }
}

tr#manage-users-item > td:last-child {
  width:150px;
  div.table-buttons-container{
  }
}

