<h1>Welcome to Wikifeat</h1>
<hr>
<p class="lead">Looks like you've managed to install Wikifeat successfully.
    So you've got that going for you, which is nice.</p>
<p class="lead">This is the default start page for Wikifeat.  You can (and should)
designate one of your wiki pages as the site homepage.</p>
<p class="lead">What next?</p>
<ul class="lead">
    <li><a id="createWikiLink" href="#">Create a Wiki</a></li>
    <li><a id="createUsersLink" href="#">Create some Users</a></li>
    <li>Designate a Homepage</li>
</ul>

<p class="lead">After you've done all that, you might want to peruse the
documentation available on <a href="http://www.wikifeat.com">wikifeat.com.</a></p>