<div class="dropdown" id="adminMenu">
    <a class="dropdown-toggle" id="adminToggle"
       data-toggle="dropdown" aria-expanded="false" href="#">
        <span class="glyphicon glyphicon-cog"></span>
        Admin Options
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu" id="adminDropDown"
        aria-labelledBy="adminToggle">
    </ul>
</div>
<div>
    <a id="viewFilesLink" href="#">
        <span class="glyphicon glyphicon-file"></span>&nbsp;Files
    </a>
</div>
