<h2>Comments</h2>
<div id="commentButtons">
    <button type="button" id="postNewCommentButton"
            class="page-publish-button btn btn-default">
        <span class="glyphicon glyphicon-pencil"></span>
        Post Comment
    </button>
    <div class="comment-editor-container" id="newCommentEditor"></div>
</div>
<hr>
<div id="commentsContainer"></div>
<nav class="pagination-nav" id="commentsPaginationNav">
    <ul class="pagination">
        <li id="previousLink">
            <a href="#" id="pagePrevious" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li id="nextLink">
            <a href="#" id="pageNext" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>