<div id="alertBox"></div>
<form id="editCommentForm">
    <div class="form-group">
        <label for="wmd-input" class="control-label">Comment:</label>
        <div class="wmd-panel">
            <div id="wmd-button-bar"></div>
            <textarea id="wmd-input" class="form-control wmd-input" rows="12"></textarea>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" id="submitCommentButton"
                class="page-publish-button btn btn-default btn-sm">
            <span class="glyphicon glyphicon-cloud-upload"></span>
            &nbsp;Publish
        </button>
        <button type="button" id="cancelEditButton"
                class="page-cancel-button btn btn-default btn-sm">
            <span class="glyphicon glyphicon-remove"></span>
            &nbsp;Cancel
        </button>
    </div>
</form>