<div class="rawPageContent" id="pageContent">
    <div id="alertBox"></div>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active">
            <a href="#" id="editLink">
                <span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit</a>
        </li>
        <li role="presentation">
            <a href="#" id="previewLink">
                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;Preview</a>
        </li>
    </ul>
    <div id="editorContent"></div>
</div>
