<form id="editPageForm">
    <div class="form-group" id="title-input-group">
        <label for="inputTitle" class="control-label">Page Title:</label>
        <input type="text" class="form-control" id="inputTitle" placeholder="Page Title">
    </div>
    <div class="form-group" id="pageEditorGroup">
        <label for="marketteInput" class="control-label">Content:</label>
        <div id="editorContainer">
            <div class="markette-button-bar"></div>
            <textarea class="form-control" id="marketteInput" rows="12"></textarea>
        </div>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" id="inputDisableComments"> Disable New Comments
        </label>
    </div>
    <div class="form-group">
        <button type="submit"
                class="page-publish-button btn btn-default btn-lg">
            <span class="glyphicon glyphicon-cloud-upload"></span>
            &nbsp;Publish
        </button>
        <button class="page-cancel-button btn btn-default btn-lg">
            <span class="glyphicon glyphicon-remove"></span>
            &nbsp;Cancel
        </button>
    </div>
</form>