<div class="modal fade" id="insertLinkModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="insertLinkTitle">Insert Link</h4>
            </div>
            <div class="modal-body">
                <div id="alertBox"></div>
                <form class="insertLinkForm" role="form" autocomplete="off">
                    <div class="form-group">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="linkOption" id="internalOption" value="internal">
                                    Internal Link
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="linkOption" id="externalOption" value="external" checked>
                                    External Link
                                </label>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div id="internalLinkSelectContainer" style="display:none;">
                        <div class="form-group">
                            <label for="wikiSelect">Select Wiki</label>
                            <select id="wikiSelect" class="form-control">
                                <option value="0">Select Wiki...</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="pageSelect">Select Page</label>
                            <select id="pageSelect" class="form-control">
                                <option value="0">Select Page...</option>
                            </select>
                        </div>
                    </div>
                    <div id="externalLinkSelectContainer">
                        <div class="form-group">
                            <label for="externalUrlField">URL:</label>
                            <input type="text" class="form-control" id="externalUrlField">
                        </div>
                    </div>
                    <button type="submit" class="hidden" id="theSubmit"></button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelButton" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="insertButton" type="button" class="btn btn-primary">Insert</button>
            </div>
        </div>
    </div>
</div>