<div class="row comment-info">
    <p id="authorAvatarThumb"></p>
    <p class="comment-author-info">
        <span id="commentAuthorName"></span><br/>
        <span id="commentDatetime"></span>
    </p>
</div>
<div class="row comment-content" id="commentContent">
</div>
<div id="editorContainer"></div>
<div class="row comment-controls">
    <button type="button" class="page-publish-button btn btn-default btn-xs"
            id="editCommentButton">
        <span class="glyphicon glyphicon-pencil"></span>
        Edit
    </button>
    <button type="button" class="page-delete-button btn btn-default btn-xs"
            id="deleteCommentButton">
        <span class="glyphicon glyphicon-trash"></span>
        Delete
    </button>
</div>
<hr>